<h1>About us</h1>

<div>	
<p class="about">
	It was 2am, I was chilling with my friends. We were starving. So we decided to get something to eat. We could not decide what to eat, nor did we know what was open. Thank god, we live in the 21st century... so we googled what to eat... big data... allowed us to get a shit load of choices. we went with what urbanspoon had to offer. So many choices... we picked 'khao son road' from the list. Unfortunately, it was closed. Well if it is closed, why the hell is it on the list??? 
	*puff*
	*puff*
	*puff*
	I wrote some code to solve this dilemma. My website grabs info from a few api's. and only shows restaurants that are open. 

</p>
	</div>