<footer class"footer">
	<small>
		Created by:
		<a href="http://crinnoval.com "> Salman Vajid</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",  about_path %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><%= link_to "Add a restaurant", new_restaurant_path %></li>
		</ul>
	</nav>

	  <%= yield :scripts %>
</footer>